section {
  display: flex;
  gap: 2rem;
}
.table {
  text-align: center;
  th {
    font-weight: normal;
    background-color: whitesmoke;
    padding: 1rem;
    border: 1px solid black;
  }
  border-spacing: 0;
  border: 1px solid black;
  border-collapse: collapse;
  td {
    border: 1px solid black;
    padding: 0.5rem;
    cursor: pointer;
  }
}
form {
  border: 1px solid black;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  input {
    border: none;
    border-bottom: 1px solid black;
  }
  .btn {
    text-align: right;
    padding: 0.5rem;
  }
}
textarea {
  border: none;
  border-bottom: 1px solid black;
}
.info {
  margin-top: 2rem;
  p {
    padding: 1rem;
    margin: 0;
    border: 1px solid black;
    max-width: 350px;
  }
}
